---
layout: default
---
<article class="post">
  <header> 
    <div class="title">
      <h2>{{ page.title | escape }}</h2>
      <p><a href="//github.com/kingjky/kingjky.github.io/edit/master/{{ page.path }}" class="icon"><i class="fas fa-fw fa-edit"></i> GitHub에서 편집 </a></p>
    </div>
    <div class="meta">
      <time class="published" datetime="{{ page.date }}">{{ page.date | date: "%d %b %Y %R" }}</time>
      <a href="{{ site.author.cv }}" class="author"><span class="name">{{ site.author.last_name }}</span><img src="{{ site.author.avatar | prepend: site.baseurl }}" alt="kingjky" /></a>
    </div>
  </header>
  {{ content }}
  
  <p>| \ | - | \ | :)
  <footer>
    <ul class="stats">
      <li><a class="icon" href="{{ site.url }}"><i class="fas fa-fw fa-folder"></i> Home</a></li>
      <li><a href="//github.com/kingjky/kingjky.github.io/edit/master/{{ page.path }}" class="icon"><i class="fas fa-fw fa-edit"></i> Edit</a></li>
    </ul>
  </footer>
</article>
<ul class="actions pagination">
  {% if page.previous.url %}
    <li><a href="{{page.previous.url}}" class="button big previous icon"><i class="fw fas fa-chevron-left"></i> Prev</a></li>
  {% endif %}
  {% if page.next.url %}
    <li><a href="{{page.next.url}}" class="button big next icon"> Next<i class="fw fas fa-chevron-right"></i></a></li>
  {% endif %}
</ul>
{% if page.comments %}
<div id="disqus_thread"></div>
<script>
      /**
      *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
      *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables    */
      /*
      var disqus_config = function () {
      this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
      this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
      };
      */
      (function() { // DON'T EDIT BELOW THIS LINE
      var d = document, s = d.createElement('script');
      s.src = 'https://kingjkys-blog.disqus.com/embed.js';
      s.setAttribute('data-timestamp', +new Date());
      (d.head || d.body).appendChild(s);
      })();
    </script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
{% endif %}


{%include comments.html %}


